@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100px;
  font-weight: 800;
  padding: 5px;
}
.logo-upskills {
  width: 12%;
}
.field-login {
  background-color: #00357a;
  color: white;
  padding: 8px;
  border-radius: 100%;
}
.icon-user {
  font-size: 30px;
}
.item-navbar {
    cursor: pointer;
}

/* RESPONSIVE */
@media only screen and (max-width: 500px) {
  .navbar {
    width: 90%;
    top: 84%;
  }
}
